---
layout: layout.njk
eleventyNavigation:
  key: Fun Facts
  order: 7
---
<div id="maincontent">
	<h2 class="page-title">
			Fun Facts
	</h2>
	<img src="/images/funfacts.png" class="medium-figure-img" alt="Image of a warrior with a hammer in hand">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">T</span></span>he Vikings came from what is now known as Scandinavia: Denmark, Norway and Sweden. However, they were not one “race” as such, rather small groups from all over the region. Also, Vikings weren't just limited to Scandinavia. Historical records indicate Finnish, Estonian and Saami Vikings as well.
		</p>
		<p>
			They did not wear horned helmets.The first illustration of a viking wearing a horned helmet was a popular edition of Frithiof’s saga, produced in 1825. But in terms of enduring popularity we can probably blame Wagner, or at least his costume designer Carl Emil Doepler, who was responsible for the outfits of the first performance of the Ring cycle at the Bayreuth Festival in 1876 and decided to stick a few jaunty horns onto the helmets. And no, they didn’t wear winged helmets either. Blame the 19th century for that one too. Mysteriously, Viking-Age helmets are almost as rare as hen’s teeth: 
		</p>
		<p>
			The blood eagle being performed on their enemies <em>when they cut their ribs away from their spine and pulled out their lungs backwards like a bloody pair of eagle’s wings</em>. Is still being debated, as there is no proof whether it was actually performed or not. 
		</p>
		<p>
			Vikings or Norsemen have a reputation of being wild, lawless and blood hungry. Actually, the legal systems throughout the medieval Nordic world were sophisticated and complex, and several law codes contain the phrase ‘with law shall the land be built’. Even today, this is the motto of the Icelandic police force. In fact, the Althingi, Iceland’s national parliament, is one of the world’s oldest parliamentary institutions, having been established in AD 930 at Thingvellir (‘Assembly Plains’). Each year at the Althingi, everyone would gather at the Law Rock and the appointed Lawspeaker would recite the laws off by heart. When literacy reached the country, the laws were the first thing to be written down, in a chieftain’s farmhouse over the winter of 1117-18. (Although yes, there were quite a few blood feuds too.)
		</p>
	</div>
</div>	
	<img class="bg-img-left" src="/images/funfacts-bg.png" alt="Background image of a helmet with horns">