---
layout: layout.njk
eleventyNavigation:
  key: Gods
  order: 2
---
	
<div id="godscontent">
	<h2 class="page-title">
			Gods
	</h2>
	<img src="/images/gods.png" alt="Image of Ymir" class="medium-figure-img">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">B</span></span>efore the beginning of time, there was Ginnungagap - a bottomless abyss, which separated the icy land of Niflheim and the fiery land of Muspelheim. These two realms rose in power and clashed; the burning frost turned into water drops and the water drops turned into life.
		</p>
		<p>
			The first living being was Ymir, a hermaphroditic giant who was created from those life-giving drops of water and whose death was brought about by Odin and his brothers. Odin, Vili, and Vé, Ymir’s descendants, fashioned the Nordic mythological universe from his blood, bones, flesh, teeth, hair, eyelashes, brains and skull.
		</p>		
	</div>
	<div class="namecard" id="odin">
		
		<img class="namecard-img-vertical" src="/images/odin.png" alt="Image of Odin on a throne">
		<h3 class="namecard-title">Odin</h3>
		<p class="namecard-body">
			Odin the supreme deity of Norse mythology and the greatest among the Norse gods was Odin, the Allfather of the Aesir. He was the awe-inspiring ruler of Asgard, and most revered immortal, who was on an unrelenting quest for knowledge with his two ravens, two wolves and the Valkyries. He is the god of war and, being delightfully paradoxical, the god of poetry and magic. He is famous for sacrificing one of his eyes in order to be able to see the cosmos more clearly and his thirst for wisdom saw him hang from the World Tree, Yggdrasil, for nine days and nine nights until he was blessed with the knowledge of the runic alphabet. His unyielding nature granted him the opportunity to unlock numerous mysteries of the universe.
			
		</p>
	</div>
	<div class="namecard" id="frigg">

		<img class="namecard-img-horizontal" src="/images/frigg.png" alt="Image of Frigg">
		<h3 class="namecard-title">Frigg</h3>
		<p class="namecard-body">

			Frigg, Odin's wife, was a paragon of beauty, love, fertility and fate. She was the mighty queen of Asgard, a venerable Norse goddess, who was gifted with the power of divination, and yet, was surrounded by an air of secrecy. She was the only goddess allowed to sit next to her husband. Frigg was a very protective mother, so she took an oath from the elements, beasts, weapons and poisons, that they would not injure her brilliant and loving son, Balder. Her trust was betrayed by Loki, a most deceitful god. 

		</p>
	</div>
	<div class="namecard" id="balder">
		<img class="namecard-img-horizontal" src="/images/balder.png" alt="Image of a hand holidng a mistletoe">
		<h3 class="namecard-title">Balder</h3>
		<p class="namecard-body">

			Balder, who is Odin's and Frigg's son who was described as living between heaven and earth. Balder was the epitome of radiance, beauty, kindness and fairness. He was believed to be immortal, but he was killed with mistletoe - the golden bough that contained both his life and his death.
		</p>
	</div>
		<div class="namecard" id="loki">
		<img class="namecard-img-vertical" src="/images/loki.png" alt="Image of Loki">
		<h3 class="namecard-title">Loki</h3>
		<p class="namecard-body">

			Loki was a mischievous god who could shape-shift and can take up animalistic forms. He conceived a scheme to cause the death of Balder. Upon learning that mistletoe was the only thing that could hurt Balder, he placed a branch into the hands of the blind god, Hod, and tricked him into throwing it at Balder, killing him.
		</p>
	</div>
</div>			
