---
layout: layout.njk
eleventyNavigation:
	order: 1
---
<div id="maincontent">
	<img src="/images/index.png" alt="Image of a raven" class="medium-figure-img main">
	<div id="primary">
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">W</span></span>elcome to the Norse Mythology website. This site is a small nugget of information about a topic that I find vastly interesting. All the information gathered comes from various differernt sources to showcase and highlight the parts I find most fun. 
		</p>
		<div id="youtube">
			<iframe width="100%" height="380" src="https://www.youtube.com/embed/eW1yaJWWgpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
</div>			
	<img class="bg-img-left" alt="Background image of a squid" src="/images/index-bg.png">