---
layout: layout.njk
eleventyNavigation:
  key: Rituals
  order: 6
---
<div id="maincontent">
	<h2 class="page-title">
			Rituals
	</h2>
	<img src="/images/rituals.png" class="medium-figure-img" alt="Image of a woman performing a ritual">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">N</span></span>orse religion was at no time homogeneous, but was a conglomerate of related customs and beliefs. These could be inherited or borrowed, and although the great geographical distances of Scandinavia led to a variety of cultural differences, people understood each other's customs, poetic traditions and myths.
		</p>
		<p>
			Sacrifice (blót) played a huge role in most of the rituals that are known about today, and communal feasting on the meat of sacrificed animals, together with the consumption of beer or mead, played a large role in the calendar feasts. In everyday practice, other foodstuffs like grain are likely to have been used instead. The purpose of these sacrifices was to ensure fertility and growth. However, sudden crises or transitions such as births, weddings and burials could also be the reason. In those times there was a clear distinction between private and public faith, and the rituals were thus tied either to the household and the individual or to the structures of society.
		</p>
		<p>
			Vikings lived within a martial culture, yet when it came to raiding and wars, they observed a structure unique to their society. This was structured like many others, with roles for farmers, fishermen, local rulers (Jarls), and the Jarl’s own guard—Huskarls. There were also defined groups of warriors outside of this typical society. The most commonly known were the Berserkers, which literally means "bear shirt" in Old Norse. Berserkers were a class of shock troops who got their name from wearing hollowed-out bear head pelts in battle. Many are claimed to have chewed dried psychedelic mushrooms pre-battle for the frenzy effect and to dull pain should they get injured. They are the famed “Shield Chewers” as depicted in Viking art such as the Lewis Chessmen.1 Archaeological evidence points to Berserkers using mushrooms with little evidence to support other drug use.
		</p>
	</div>
</div>	
	<img class="bg-img-left" src="/images/rituals-bg.png" alt="Background image of mushrooms">