---
layout: layout.njk
eleventyNavigation:
  key: Valkyries
  order: 3
---

<div id="maincontent">
	<h2 class="page-title">
			<span id="wordbreak">Valky-ries</span>
	</h2>
	<img src="/images/valkyrie.png" class="medium-figure-img" alt="Image of a Valkyrie floating over a dying man">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">A</span></span> Valkyrie is a figure in Norse mythology depicted as a warrior woman on horseback, a wolf or boar, and armed with a spear, who decides the fate of warriors in battle and carries the dead to Odin’s Valhalla. Valkyrie means "chooser of the slain", and those chosen will fight beside Odin at Ragnarök.
		</p>
		<p>
			Valhalla is Odin’s Hall of Heroes. There, it was believed, they would spend their days honing their combat skills and, wounds magically healed, their nights drinking the finest mead and feasting on the meat of an eternal boar
		</p>
		<p>
			Valhalla may have originally been simply another name for the land of the dead and was envisioned as a vast battlefield but evolved into a Hall of Heroes who are not only led there after death by the Valkyries but are then served by them once they have become einherjar ("army of one", a hero who can handle any situation). The Valkyries, then, not only play the role of the Norns (Fates) in deciding who lives and who dies in battle but also of the psychopomp – guide in the afterlife – who provides and cares for the souls once they have arrived in Odin’s Hall, even engaging in love affairs with some of them as well as with living mortals. The Valkyries are Odin’s loyal subjects who most likely die in battle with him, Thor, the heroes of Valhalla, and many others at Ragnarök, the Twilight of the Gods.
		</p>
	</div>
	<div id="podcast">
		<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0iqqoRPV0NKMBWFl58mp4g?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
	</div>	
</div>	
<img class="bg-img-right" src="/images/valkyrie-bg.png" alt="Background image of hops plant">
