---
layout: layout.njk
eleventyNavigation:
  key: Way of Life
  order: 5
---
	
<div id="maincontent">
	<h2 class="page-title">
			Way of Life 
	</h2>
	<img src="/images/way-of-life.png" class="medium-figure-img" alt="Image of a norseman warrior standing with an axe">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">W</span></span>henever someone mentions Vikings, the general picture painted in the mind’s eye is of burly blonde dudes with horn-winged helmets hopping out of a boat, sword, and axe in hand, ready to burn, plunder, and do all sorts of nasty things to whoever crosses their path. The truth of the matter, however, is that the acts of raiding and pillaging really only took up a fraction of the time people spent during the age of the Vikings.
		</p>
		<p>
			For the most part, Vikings were farmers. The majority of the crops they grew were things such as oats, barley, and wheat, with a number of vegetables taking root here and there. Much like Norway today, there was plenty of livestock scattered across the countryside: pigs, cattle, sheep, horses, chickens, all the basics of European farms. 
		</p>
		<p> 
			Plenty of other trades were also alive and well at the time. Boat builders and wood craftsmen, blacksmiths, leather workers, fishers, even merchants were not uncommon occupations for people like Ragnar or Rollo. Their life was much simpler, than one could be led to believe, with sagas and modern world always romanticizing their raids on other lands. 
		</p>
	</div>
</div>	
	<img class="bg-img-left" src="/images/way-of-life-bg.png" alt="Background image of a wheat plant">	

