---
layout: layout.njk
eleventyNavigation:
  key: World Tree
  order: 4
---
	
<div id="maincontent">
	<h2 class="page-title">
			World Tree
	</h2>
	<img src="/images/worldtree.png" class="medium-figure-img" alt="Image of an Ash tree">
	<div id="primary">
		
		<p class="intro-text">
			<span class="drop-cap"><span class="drop-cap-line">Y</span></span>ggdrasil the Norse World Tree, trees have profound roles in worlds both real and fictional. With their majestic bark, lush laid-out branches and billowing cloud of leaves, humans are drawn to them in deep fascination. This magic is embodied in the marvelous account of the Norse World Tree. According to Norse mythology, the entire world is in fact a tree, called Yggdrasil (“igg-dreh-sell”) located at the center of the universe.
		</p>
		<p>
			According to the legends, Yggdrasil  is a gargantuan living ash tree with branches extending above the heavens and a trunk strongly latched into the ground by three great roots.  Here, the gods assemble and meet, seek sustenance from its life-giving branches, and watch over the worlds. Radiating from this center span the nine realms of existence, including Asgard, the home of the gods and the hall of Valhalla, and Midgard, the land of the human mortals. An anonymous eagle sits in the top of its branches in constant conflict with an evil serpent, Nidhogg, who tries to unbalance the tree by chewing through one of its roots.
		</p>
		<p>
			One of its roots extend into Niflheim, the underworld; another into Jötunheim, land of the giants; and the third into Asgard, home of the gods. At its base were three wells: Urdarbrunnr (Well of Fate), from which the tree was watered by the Norns (the Fates); Hvergelmir (Roaring Kettle), in which dwelt Nidhogg, the monster that gnawed at the tree’s roots; and Mímisbrunnr (Mimir’s Well), source of wisdom, for the waters of which Odin sacrificed an eye. After Ragnarök (Doomsday), the world tree, though badly shaken, was to be the source of new life.
		</p>
	</div>
</div>	
	<img class="bg-img-left" src="/images/worldtree-bg.png" alt="Background image of a hand holding a tree sapling">